<div class="signup-container">
	{% form 'customer', class: 'signup-form' %}
		<fieldset>
			<input name="contact[tags]" type="hidden" value="newsletter" />
			{%- if form.errors -%}
				<div class="form-notification error" id="Newsletter-error--{{ section.id }}">
					{% render 'svg-icons' with 'thb-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
				</div>
			{%- endif -%}
			{%- if form.posted_successfully? -%}
				<div class="form-notification success" id="Newsletter-success--{{ section.id }}">
					{% render 'svg-icons' with 'thb-success' %} {{ 'newsletter.success' | t }}
				</div>
			{%- endif -%}
			<div class="field">
				<input
					placeholder="{{ 'newsletter.label' | t }}"
					type="email"
					id="NewsletterForm--{{ section.id }}"
					name="contact[email]"
					autocorrect="off"
					autocapitalize="off"
					autocomplete="email"
					value="{{ form.email }}"
					pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
					title="xxx@xxx.xxx"
					{% if form.errors %}
						autofocus
						aria-invalid="true"
						aria-describedby="Newsletter-error--{{ section.id }}"
					{% elsif form.posted_successfully? %}
						aria-describedby="Newsletter-success--{{ section.id }}"
					{% endif %}
					required
				/>
				<label class="field__label" for="NewsletterForm--{{ section.id }}">
	        {{ 'newsletter.label' | t }}
	      </label>
			</div>
			
			<button class="submit" type="submit" aria-label="{{ 'sections.signup.enter_your_email' | t }}">{% render 'svg-icons' with 'signup-submit' %}</button>
		</fieldset>
		{%- if settings.email_terms_conditions_enable -%}
			<div class="signup-container--terms">
				<input type="checkbox" id="NewsletterTerms-{{ form.id }}" required>
				<label for="NewsletterTerms-{{ form.id }}">
					{{ 'sections.signup.i_agree' | t }}
				</label>
			</div>
		{%- endif -%}
	{% endform %}
</div>
