<div class="pickup-availability-information">
	{%- assign closest_location = pick_up_availabilities.first -%}

	{%- if closest_location.available -%}
		{% render 'svg-icons' with 'thb-availability-check' %}
	{%- else -%}
		{% render 'svg-icons' with 'thb-availability-cross' %}
	{%- endif -%}

	<div class="pickup-availability-information-container">
		{%- if closest_location.available -%}
			<p class="pickup-availability-information__title">
				{{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
			</p>
			<p class="pickup-availability-information__stock">
				{{ closest_location.pick_up_time }}
			</p>
			<button class="pickup-availability-information__button text-button">
				{%- if pick_up_availabilities.size == 1 -%}
					{{ 'products.product.pickup_availability.view_store_info' | t }}
				{%- else -%}
					{{ 'products.product.pickup_availability.check_other_stores' | t }}
				{%- endif -%}
			</button>
		{%- else -%}
			<p class="pickup-availability-information__title">
				{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
			</p>
			{%- if pick_up_availabilities.size > 1 -%}
				<button class="pickup-availability-information__button text-button">
					{{ 'products.product.pickup_availability.check_other_stores' | t }}
				</button>
			{%- endif -%}
		{%- endif -%}
	</div>
</div>
