{%- liquid
	if sticky
		assign appended = '--sticky'
	endif

	assign handle = option.name | replace: ' ', '-' | downcase | escape
-%}
{%- case option_type -%}
{%- when 'dropdown' -%}
	<fieldset class="product-form__input product-form__input--dropdown" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}{{ appended }}">
		  {{ option.name }}{{ sizing_link }}
		</div>
		<div class="select">
		  <select
				id="Option-{{ section.id }}-{{ forloop.index0 }}{{ appended }}"
				name="options[{{ option.name | escape | append: appended }}]"
				form="{{ product_form_id }}"
			>
		    {%- for value in option.values -%}
		      <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
		        {{ value }}
		      </option>
		    {%- endfor -%}
		  </select>
			<div class="select-arrow">{%- render 'svg-icons' with 'thb-select' -%}</div>
		</div>
	</fieldset>
{%- when 'button' -%}
	<fieldset class="product-form__input product-form__input--block" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label">{{ option.name }}: <span class="form__label__value">{{ option.selected_value }}</span>{{ sizing_link }}</div>
		{%- for value in option.values -%}
			<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
						name="{{ option.name | append: appended }}"
						value="{{ value | escape }}"
						form="{{ product_form_id }}"
						{% if option.selected_value == value %}checked{% endif %}
			>
			<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}">
				<span>{{ value }}</span>
			</label>
		{%- endfor -%}
	</fieldset>
{%- when 'color' -%}
	{%- liquid
	assign custom_colors = settings.color_swatches | newline_to_br | split: '<br />'
	assign key_array = ''
	assign val_array = ''

	for color in custom_colors
		assign key = color | split: ':' | first | rstrip
		assign value = color | split: ':' | last | lstrip
		assign key_array = key_array | append: ',' | append: key
		assign val_array = val_array | append: ',' | append: value
	endfor

	assign key_array = key_array | remove_first: ',' | strip_newlines | downcase | split: ','
	assign val_array = val_array | remove_first: ',' | split: ','

	assign variant_image_size = '40'
	case color_picker_size
		when 'large'
			assign variant_image_size = '72'
		when 'xlarge'
			assign variant_image_size = '104'
	endcase
	-%}
	<fieldset class="product-form__input product-form__input--color product-form__input--color--{{ color_picker_size }}" data-use-images="{{ color_picker_use_variants }}" data-index="option{{ forloop.index }}" data-handle="{{ handle }}">
		<div class="form__label">{{ option.name }}: <span class="form__label__value">{{ option.selected_value }}</span></div>
		{%- for value in option.values -%}
			<input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}"
						name="{{ option.name | append: appended }}"
						value="{{ value | escape }}"
						form="{{ product_form_id }}"
						{% if option.selected_value == value %}checked{% endif %}
			>
			{%- liquid
				assign color_value = value | downcase | escape

				for custom_color in key_array
					if custom_color == color_value
						assign color_value = val_array[forloop.index0]
					endif
				endfor

				assign bg_value = empty
				if color_value contains '.'
					assign bg_value = color_value | file_url
					assign color_value = 'var(--bg-body)'
				endif

				if color_picker_use_variants
					assign variant_image = blank

					for variant in product.variants
						if variant.title contains value
							if variant.image
								assign bg_value = variant.image | image_url: width: variant_image_size
								break
							endif
						endif
					endfor
				endif
			-%}
			<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}{{ appended }}" style="--option-color: {{ color_value | downcase | escape }}; {%- if bg_value -%} --option-color-image: url('{{ bg_value | escape }}');{%- endif -%}">
				{{ value }}
			</label>
		{%- endfor -%}
	</fieldset>
{%- endcase -%}
