{%- liquid
	assign overlay_color = block.settings.overlay_color
	assign overlay_opacity = block.settings.overlay_opacity
-%}
<div class="gallery__item" {{ block.shopify_attributes }} style="--overlay-color-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}">
	<figure class="aspect-ratio">
		{%- if block.settings.image -%}
			{%- liquid
				assign sizes = block.settings.image.width | append: 'x' | append: block.settings.image.height
			-%}
			{%- render 'responsive-image', image: block.settings.image, sizes: sizes -%}
		{%- else -%}
			{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
		{%- endif -%}
		<div class="gallery__item-content content-middle-center text-center">
			<div>
				{% if block.settings.title != blank %}
					<h4>{{ block.settings.title }}</h4>
				{% endif %}
				{% if block.settings.text != blank %}
					<p>{{ block.settings.text }}</p>
				{% endif %}
				{% if block.settings.link_label != blank %}
					{% liquid
						assign button_class = 'button white'
						if block.settings.use_text_button
							assign button_class = 'text-button white'
						endif
					-%}
					<a class="{{ button_class }}"{% if block.settings.link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.link }}"{% endif %}><span>{{ block.settings.link_label }}</span></a>
				{% endif %}
				{% if block.settings.block_link != blank %}
					<a href="{{ block.settings.block_link }}" class="gallery__item-content-link" target="_blank"></a>
				{% endif %}
			</div>
		</div>
	</figure>
</div>
