<div {{ block.shopify_attributes }}>
	{%- if product != blank -%}
	{%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}
  <product-form class="product-form" data-section="{{ section.id }}" data-hide-errors="{{ gift_card_recipient_feature_active }}">
		<div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
      {% render 'svg-icons' with 'thb-error' %}
      <span class="product-form__error-message"></span>
    </div>
		{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
		<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
		{%- if gift_card_recipient_feature_active -%}
      {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
    {%- endif -%}
		<div class="product-add-to-cart-container">
			<div class="form-notification error" style="display:none;"></div>
		  <div class="add_to_cart_holder">
				{%- if block.settings.show_quantity_selector -%}
				<div
          id="quantity-{{ section.id }}"
          {{ block.shopify_attributes }}
        >
			    <quantity-selector class="quantity">
						<button class="minus" type="button" aria-label="{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}">
							{% render 'svg-icons' with 'minus' %}
						</button>
			      <input
							type="number"
							id="Quantity-{{ section.id }}"
							name="quantity"
							class="qty"
							value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
							min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
							{% if product.selected_or_first_available_variant.quantity_rule.max != null %}
	              max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
	            {% endif %}
							step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
							form="{{ product_form_id }}"
							aria-label="{{ 'products.product.quantity.input_label' | t: product: product.title | escape }}"
						>
						<button class="plus" type="button" aria-label="{{ 'products.product.quantity.increase' | t: product: product.title | escape }}">{% render 'svg-icons' with 'plus' %}</button>
			    </quantity-selector>
				</div>
				{%- endif -%}
		    <button type="submit" name="add" id="AddToCart" class="single-add-to-cart-button button outline {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
					<span class="single-add-to-cart-button--text">
						{%- if product.selected_or_first_available_variant.available -%}
		          {{ 'products.product.add_to_cart' | t }}
		        {%- else -%}
		          {{ 'products.product.sold_out' | t }}
		        {%- endif -%}
					</span>
					<span class="loading-overlay">
						{% render 'svg-icons' with 'thb-loading' %}
					</span>
				</button>
				{%- if show_dynamic_checkout -%}
		      {{ form | payment_button }}
		    {%- endif -%}
		  </div>
		</div>
		{%- endform -%}
	  <div class="buy-info">
		  <div class="buy-info__title">
			  <p>{{ settings.buy_now_text }}</p>
			  <img src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/shop-pay.png?v=1699866144"
				   alt="shop-pay" width="81" height="19" loading="lazy">
		  </div>
		  <div class="buy-info__card">
			  <ul>
				  <li>
					  <img
							  src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/apppayy.svg?v=1700480421"
							  alt="apple" width="38" height="30" loading="lazy">
				  </li>
				  <li>
					  <img
							  src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/visavisa.svg?v=1700480509"
							  alt="visa"  width="38" height="30" loading="lazy">
				  </li>
				  <li>
					  <img
							  src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/masterc.svg?v=1700480421"
							  alt="master-card"  width="35" height="35" loading="lazy">
				  </li>
				  <li>
					  <img
							  src="https://cdn.shopify.com/s/files/1/0308/2020/4588/files/amere.svg?v=1700480421"
							  alt="american-express"  width="35" height="35" loading="lazy">
				  </li>
				  <li>
					  <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="30" role="img" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path></svg>

				  </li>
			  </ul>
		  </div>
	  </div>
	</product-form>
	{%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="single_add_to_cart_button button sold-out"
          disabled
        >
          <span class="single-add-to-cart-button--text">{{ 'products.product.sold_out' | t }}</span>
        </button>
      </div>
    </div>

  {%- endif -%}
	{%- if product != blank -%}
		{%- form 'product', product, id: 'product-form-installment', class: 'installment' -%}
			<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
			{{ form | payment_terms }}
		{%- endform -%}
	{%- endif -%}
</div>
{%- if pickup -%}
{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
<pickup-availability
	class="pickup-availability-wrapper"
	{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}available{% endif %}
  data-root-url="{{ routes.root_url }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-has-only-default-variant="{{ product.has_only_default_variant }}"
>
	{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
	{%- if pick_up_availabilities.size > 0 -%}
		{% render 'product-pickup-availability', pick_up_availabilities: pick_up_availabilities %}
	{% endif %}
</pickup-availability>
<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
{%- endif -%}