<!doctype html>
{%- capture dir -%}
	{%- case request.locale.iso_code -%}
	  {%- when 'ae' or 'ar' or 'arc' or 'bcc' or 'bqi' or 'ckb' or 'dv' or 'fa' or 'glk' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'mzn' or 'nqo' or 'pnb' or 'ps' or 'sd' or 'ug' or 'ur' or 'yi' -%}
	    rtl
	  {%- else -%}
	    ltr
	{%- endcase -%}
{%- endcapture -%}
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ dir }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">
	<link rel="canonical" href="{{ canonical_url }}">
	<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

	{%- if settings.favicon != blank -%}
		<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
	{%- endif -%}

	<title>
	{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{%- unless settings.heading_font.system? and settings.body_font.system? -%}
		<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
	{%- endunless -%}

	{% render 'social-meta-tags' %}

	{{ 'password.css' | asset_url | stylesheet_tag }}

	{% render 'head-variables' %}

	<script>
		window.theme = window.theme || {};
		theme = {
			settings: {
				money_with_currency_format: {{- shop.money_format | json -}},
				cart_drawer: {{- settings.cart_drawer -}}
			},
			routes: {
				root_url: '{{ routes.root_url }}',
				cart_url: '{{ routes.cart_url }}',
				cart_add_url: '{{ routes.cart_add_url }}',
				search_url: '{{ routes.search_url }}',
				cart_change_url: '{{ routes.cart_change_url }}',
				cart_update_url: '{{ routes.cart_update_url }}',
				predictive_search_url: '{{ routes.predictive_search_url }}',
			},
			variantStrings: {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }
		};
	</script>
	{{ content_for_header }} <!-- Header hook for plugins -->
	<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
</head>
<body class="button-uppercase-{{ settings.button_uppercase }} product-title-uppercase-{{ settings.product_title_uppercase }}{% if customer %} customer-logged-in {% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
	<a class="screen-reader-shortcut" href="#main-content">{{ 'accessibility.skip_to_text' | t }}</a>
	<div id="wrapper" class="open">
		<div role="main" id="main-content">
			{{ content_for_layout }}
		</div>
	</div>
	{{ 'vendor.min.js' | asset_url | script_tag }}
	{% if settings.animations %}
		{{ 'animations.min.js' | asset_url | script_tag }}
		<script>
			gsap.defaults({
				ease: Power4.easeOut
			});
			gsap.config({
		    nullTargetWarn: false
		  });
			gsap.registerPlugin(ScrollTrigger);
		</script>
	{% endif %}
	{{ 'app.js' | asset_url | script_tag }}
	{{ 'password.js' | asset_url | script_tag }}
</body>
</html>
