{{- 'product-grid.css' | asset_url | stylesheet_tag -}}
{{- 'collection-tabs.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign section_heading = section.settings.heading
	assign section_heading_left = section.settings.heading_left
	assign section_description = section.settings.description
	assign full_width = section.settings.full_width
	assign columns_desktop = section.settings.columns_desktop
	assign show_view_all = section.settings.show_view_all
	assign show_progress_bar = section.settings.show_progress_bar
	assign product_limit = section.settings.product_limit

	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	assign columns_class = 'medium-6 large-4'
	assign more_in_collection = false
	case columns_desktop
		when 2
			assign columns_class = 'medium-6'
		when 3
			assign columns_class = 'medium-4'
		when 4
			assign columns_class = 'medium-6 large-3'
	endcase

	if section.blocks
		assign first_collection = section.blocks[0].settings.collection
		if first_collection.all_products_count > product_limit
	    assign more_in_collection = true
	  endif
		if show_view_all and more_in_collection
			assign section_heading_button = first_collection
		endif
	endif
-%}
<div class="collection-tabs section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
	<div class="row{% if full_width %} full-width-row{% endif %}">
		<div class="small-12 columns">
			{% render 'section-header', section_heading: section_heading, section_description: section_description, section_heading_left: section_heading_left, section_heading_button: section_heading_button, section_id: section.id, blocks: section.blocks %}
			<ul id="product-grid-{{ section.id }}" data-id="{{ section.id }}" class="products carousel row small-up-2 medium-up-{{ columns_desktop }}">
				{% for block in section.blocks %}
					{% assign mainloop = forloop %}
					{% if block.settings.collection != blank %}
						{%- for product in block.settings.collection.products limit: product_limit -%}
							<li class="{{ columns_class }} columns{% if mainloop.first == true %} carousel__slide{% endif %}" data-collection="{{ block.settings.collection.handle }}">
								{% render 'product-card', product_card_product: product %}
							</li>
						{%- endfor -%}
					{% else %}
						{%- for i in (1..product_limit) -%}
						<li class="{{ columns_class }} columns{% if mainloop.first == true %} carousel__slide{% endif %}" data-collection="collection-{{ block.id }}">
							{% render 'product-card' %}
						</li>
						{%- endfor -%}
					{% endif %}
				{%- endfor -%}

				{%- if product_limit > columns_desktop -%}
				<div class="flickity-nav flickity-prev" tabindex="0">{% render 'svg-icons' with 'carousel-prev' %}</div>
				<div class="flickity-nav flickity-next" tabindex="0">{% render 'svg-icons' with 'carousel-next' %}</div>
				{%- endif -%}
			</ul>
			{%- if show_progress_bar -%}
			<div class="flickity-progress">
				<div class="flickity-progress--bar"></div>
			</div>
			{%- endif -%}
		</div>
	</div>
</div>
<script src="{{ 'collection-tabs.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "Collection tabs",
		"class": "section-collection-tabs",
		"max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Collection Tabs"
      },
			{
				"type": "checkbox",
				"id": "heading_left",
				"default": false,
				"label": "Left align heading"
			},
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Add a short description for your collections</p>"
      },
			{
				"type": "checkbox",
				"id": "full_width",
				"label": "Make section full width",
				"default": true
			},
			{
	      "type": "range",
	      "id": "product_limit",
	      "min": 2,
	      "max": 16,
	      "step": 1,
	      "default": 6,
	      "label": "Number of products to show"
	    },
			{
	      "type": "range",
	      "id": "columns_desktop",
	      "min": 2,
	      "max": 4,
	      "step": 1,
	      "default": 4,
	      "label": "Number of columns on desktop"
	    },
	    {
	      "type": "checkbox",
	      "id": "show_view_all",
	      "default": true,
	      "label": "Enable \"View all\" button",
				"info": "Enable \"View all\" button if collection includes more products than shown"
	    },
			{
				"type": "checkbox",
				"id": "show_progress_bar",
				"label": "Show progress bar",
				"default": true
			},
			{
        "type": "header",
        "content": "Spacing"
      },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
		"blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
				]
			}
		],
    "presets": [
      {
        "name": "Collection tabs",
				"blocks": [
					{
						"type": "collection"
					},
					{
						"type": "collection"
					},
					{
						"type": "collection"
					}
				]
      }
    ]
  }

{% endschema %}
