{{- 'collapsible-content.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign section_heading = section.settings.heading
	assign section_description = section.settings.description
	assign uppercase_heading = section.settings.uppercase_heading
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
-%}
<div class="collapsible-content heading-uppercase-{{ uppercase_heading }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
	<div class="row">
		<div class="small-12 columns">
			{% render 'section-header', section_heading: section_heading, section_description: section_description, section_heading_left: false %}
			<div class="collapsible-content__inner">
				{%- for block in section.blocks -%}
				<collapsible-row class="accordion" {{ block.shopify_attributes }}>
					<details id="Details-{{ block.id }}-{{ section.id }}" {% if block.settings.open %}open{% endif %}>
						<summary>
							{{ block.settings.heading | default: block.settings.page.title }}
							<span></span>
						</summary>
						<div class="collapsible__content accordion__content rte" id="Accordion-{{ block.id }}-{{ section.id }}">
							{{ block.settings.content }}
							{{ block.settings.page.content }}
						</div>
					</details>
				</collapsible-row>
				{%- endfor -%}
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Collapsible content",
    "settings": [
			{
				"type": "text",
				"id": "heading",
				"label": "Heading",
				"default": "Collapsible content"
			},
			{
				"type": "richtext",
				"id": "description",
				"label": "Description",
				"default": "<p>Add a short description for this section</p>"
			},
			{
				"type": "checkbox",
				"id": "uppercase_heading",
				"default": true,
				"label": "Make tab headings uppercase"
			},
			{
        "type": "header",
        "content": "Spacing"
      },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
			{
				"type": "collapsible_tab",
				"name": "Collapsible row",
				"settings": [
						{
						"type": "text",
						"id": "heading",
						"default": "Collapsible row",
						"info": "Include a heading that explains the content.",
						"label": "Heading"
					},
					{
						"type": "checkbox",
						"id": "open",
						"default": false,
						"label": "Open by default"
					},
					{
						"type": "richtext",
						"id": "content",
						"label": "Row content"
					},
					{
						"type": "page",
						"id": "page",
						"label": "Row content from page"
					}
				]
			}
    ],
    "presets": [
      {
        "name": "Collapsible content",
				"blocks": [
	        {
	          "type": "collapsible_tab"
	        },
	        {
	          "type": "collapsible_tab"
	        },
	        {
	          "type": "collapsible_tab"
	        },
	        {
	          "type": "collapsible_tab"
	        },
	        {
	          "type": "collapsible_tab"
	        }
	      ]
      }
    ]
  }
{% endschema %}
