{{- 'layered-images-with-text.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign full_width  = section.settings.full_width
	assign image = section.settings.image
	assign image_ratio = section.settings.image_ratio

	assign image_2 = section.settings.image_2
	assign image_ratio_2 = section.settings.image_ratio_2
	assign image_3 = section.settings.image_3
	assign image_ratio_3 = section.settings.image_ratio_3

	assign content_alignment = section.settings.content_alignment
	assign content_position = section.settings.content_position
	assign desktop_layout = section.settings.layout
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	assign ratio = 1
	if image_ratio == 'adapt' and image != blank
		assign ratio = image.aspect_ratio
	endif

	assign ratio_2 = 1
	if image_ratio_2 == 'adapt' and image_2 != blank
		assign ratio_2 = image_2.aspect_ratio
	elsif image_ratio_2 == 'adapt' and image_2 == blank
		assign ratio_2 = 0.85
	endif

	assign ratio_3 = 1
	if image_ratio_3 == 'adapt' and image_3 != blank
		assign ratio_3 = image_3.aspect_ratio
		elsif image_ratio_3 == 'adapt' and image_3 == blank
			assign ratio_3 = 0.85
		endif
-%}
<div class="row{% if full_width %} full-width-row{% endif %}">
	<div class="small-12 columns">
		<div class="layered-images-with-text {{ desktop_layout }} {{ content_alignment }} layered-images-with-text--{{ content_position }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
			<div class="layered-images-with-text__image layered-images-with-text__inner">
				<layered-images class="layered-images-with-text__image-media-container">
					<div class="layered-images-with-text__image-media-container-inner">
						<div class="layered-images-with-text__image-media layered-image-1 aspect-ratio aspect-ratio--{{ image_ratio }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
							<div class="layered-images-media">
								{%- if image != blank -%}
									{%- liquid
										assign mobile_image_height = image.src.height | times: '345' | divided_by: image.src.width
										assign master_width = image.src.width | append: 'x' | append: image.src.height
										assign width = '345x' | append: mobile_image_height | append: ',' | append: master_width

										render 'responsive-image', image: image, sizes: width
									 -%}
								{%- else -%}
									{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
								{%- endif -%}
							</div>
						</div>
						<div class="layered-images-with-text__image-media layered-image-2 aspect-ratio aspect-ratio--{{ image_ratio_2 }}" style="--ratio-percent: {{ 1 | divided_by: ratio_2 | times: 100 }}%;">
							<div class="layered-images-media">
								{%- if image_2 != blank -%}
									{%- liquid
										assign mobile_image_height = image_2.src.height | times: '345' | divided_by: image_2.src.width
										assign master_width = image_2.src.width | append: 'x' | append: image_2.src.height
										assign width = '345x' | append: mobile_image_height | append: ',' | append: master_width

										render 'responsive-image', image: image_2, sizes: width
									 -%}
								{%- else -%}
									{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
								{%- endif -%}
							</div>
						</div>
						<div class="layered-images-with-text__image-media layered-image-3 aspect-ratio aspect-ratio--{{ image_ratio_3 }}" style="--ratio-percent: {{ 1 | divided_by: ratio_3 | times: 100 }}%;">
							<div class="layered-images-media">
								{%- if image_3 != blank -%}
									{%- liquid
										assign mobile_image_height = image_3.src.height | times: '345' | divided_by: image_3.src.width
										assign master_width = image_3.src.width | append: 'x' | append: image_3.src.height
										assign width = '345x' | append: mobile_image_height | append: ',' | append: master_width

										render 'responsive-image', image: image_3, sizes: width
									 -%}
								{%- else -%}
									{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
								{%- endif -%}
							</div>
						</div>
					</div>
				</layered-images>
			</div>
			<div class="layered-images-with-text__content layered-images-with-text__inner">
				<div class="layered-images-with-text__content--inner">
					{%- for block in section.blocks -%}
						{%- case block.type -%}
							{%- when 'subheading' -%}
								<p class="subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
							{%- when 'heading' -%}
								<h3 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.text | newline_to_br }}</h3>
							{%- when 'text' -%}
								<div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
							{%- when 'button' -%}
								{% if block.settings.button_text != blank %}
									<a class="button" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}><span>{{ block.settings.button_text }}</span></a>
								{% endif %}
							{% when 'space' %}
		            <div style="height: {{ block.settings.height | append: 'px' }}" {{ block.shopify_attributes }}></div>
						{%- endcase -%}
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{ 'layered-images-with-text.js' | asset_url }}" defer></script>
{% schema %}
  {
    "name": "Layered images with text",
		"class": "section-layered-images-with-text",
    "settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Main image"
			},
			{
	      "type": "select",
	      "id": "image_ratio",
	      "options": [
	        {
	          "value": "adapt",
	          "label": "Adapt to image"
	        },
	        {
	          "value": "portrait",
	          "label": "Portrait"
	        },
					{
	          "value": "landscape",
	          "label": "Landscape"
	        },
	        {
	          "value": "square",
	          "label": "Square"
	        }
	      ],
	      "default": "adapt",
	      "label": "First image ratio"
	    },
			{
				"type": "image_picker",
				"id": "image_2",
				"label": "Left image"
			},
			{
	      "type": "select",
	      "id": "image_ratio_2",
	      "options": [
	        {
	          "value": "adapt",
	          "label": "Adapt to image"
	        },
	        {
	          "value": "portrait",
	          "label": "Portrait"
	        },
					{
	          "value": "landscape",
	          "label": "Landscape"
	        },
	        {
	          "value": "square",
	          "label": "Square"
	        }
	      ],
	      "default": "adapt",
	      "label": "Second image ratio"
	    },
			{
				"type": "image_picker",
				"id": "image_3",
				"label": "Right image"
			},
			{
	      "type": "select",
	      "id": "image_ratio_3",
	      "options": [
	        {
	          "value": "adapt",
	          "label": "Adapt to image"
	        },
	        {
	          "value": "portrait",
	          "label": "Portrait"
	        },
					{
	          "value": "landscape",
	          "label": "Landscape"
	        },
	        {
	          "value": "square",
	          "label": "Square"
	        }
	      ],
	      "default": "adapt",
	      "label": "Third image ratio"
	    },
			{
				"type": "header",
				"content": "Layout"
			},
			{
        "type": "checkbox",
        "id": "full_width",
        "label": "Make section full width",
        "default": false
      },
			{
	      "type": "select",
	      "id": "layout",
	      "options": [
	        {
	          "value": "image_first",
	          "label": "Image first"
	        },
	        {
	          "value": "text_first",
	          "label": "Image second"
	        }
	      ],
	      "default": "image_first",
	      "label": "Desktop image placement",
	      "info": "Image first is the default mobile layout."
	    },
			{
				 "type": "select",
				 "id": "content_alignment",
				 "label": "Desktop content alignment",
				 "options": [
					 { "value": "text-center", "label": "Center" },
					 { "value": "text-left", "label": "Left" },
					 { "value": "text-right", "label": "Right" }
				 ],
				 "default": "text-left"
			},
			{
				 "type": "select",
				 "id": "content_position",
				 "label": "Desktop content position",
				 "options": [
					 { "value": "top", "label": "Top" },
					 { "value": "middle", "label": "Middle" },
					 { "value": "bottom", "label": "Bottom" }
				 ],
				 "default": "middle"
			},
			{
				"type": "header",
				"content": "Spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
			{
				"type": "subheading",
				"name": "Subheading",
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Add a tagline"
					}
				]
			},
			{
				"type": "heading",
				"name": "Heading",
				"settings": [
					{
						"type": "text",
						"id": "text",
						"label": "Text",
						"default": "Image with text"
					},
					{
						"type": "select",
						"id": "heading_size",
						"label": "Size",
						"options": [
							{
								"value": "h1",
								"label": "Extra Large"
							},
							{
								"value": "h2",
								"label": "Large"
							},
							{
								"value": "h3",
								"label": "Medium"
							},
							{
								"value": "h4",
								"label": "Small"
							}
						],
						"default": "h3"
					}
				]
			},
			{
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Content",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          }
        ]
      },
			{
        "type": "button",
        "name": "Button",
        "settings": [
					{
						"id": "button_text",
						"type": "text",
						"label": "Button label",
						"default": "Shop Now",
						"info": "Leave the label blank to hide the button."
					},
					{
						"id": "button_link",
						"type": "url",
						"label": "Button link"
					}
        ]
      },
      {
        "type": "space",
        "name": "Empty space",
        "settings": [
          {
            "type": "range",
            "id": "height",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Height",
            "default": 50
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Layered images with text",
				"blocks": [
					{
						"type": "subheading"
					},
					{
						"type": "heading"
					},
					{
						"type": "text"
					}
				]
      }
    ]
  }
{% endschema %}
