{{ 'product.css' | asset_url | stylesheet_tag }}
{%- liquid
	assign media_aspect_ratio = section.settings.media_aspect_ratio
	assign first_3d_model = product.media | where: "media_type", "model" | first
	assign picker_type = 'dropdown'
	assign color_picker = true
	assign image_index = -1
	assign hide_variants = section.settings.hide_variants
	assign featured_media = product.selected_or_first_available_variant.featured_media
	assign first_image = nil
	assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'

	assign ratio = 1
	assign sizes = '375x375,640x640,960x960'
	if media_aspect_ratio == 'adapt'
		assign sizes = '375x0,640x0,960x0'
	elsif media_aspect_ratio == 'portrait'
		assign ratio = 1 | divided_by: 1.25
		assign sizes = '375x469,640x800,960x1200'
	elsif media_aspect_ratio == 'landscape'
		assign ratio = 1 | divided_by: 0.75
		assign sizes = '375x281,640x480,960x720'
	endif

	if hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

	assign media_count = product.media.size
  if hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif
-%}
<div class="side-panel product-drawer active" id="Product-Drawer">
	<div class="side-panel-inner">
		<div class="side-panel-header">
			<div>
				<h4 class="body-font">{{ 'products.product.product_drawer.select_options' | t }}</h4>
				<side-panel-close class="side-panel-close">{%- render 'svg-icons' with 'close' -%}</side-panel-close>
			</div>
		</div>
		<div class="side-panel-content" id="Product-Drawer-Content">
			<div class="thb-product-detail product">
				<div class="product-quick-images--container">
			  	<div class="product-quick-images" id="MediaGallery-{{ section.id }}" data-hide-variants="{{ hide_variants }}">
						{%- if featured_media != null -%}
							{%- liquid
								assign image_index = image_index | plus: 1
								assign first_image = featured_media.preview_image

								if media_aspect_ratio == 'adapt'
									assign ratio = featured_media.preview_image.aspect_ratio
								endif

                assign alt = featured_media.preview_image.alt | split: '#' | first
							-%}
							<div
								id="Slide-{{ section.id }}-{{ featured_media.id }}"
								class="product-quick-images__slide product-images__slide--image is-active{% if hide_variants and variant_images contains featured_media.src %} product-images__slide-item--variant{% endif %}"
								data-media-id="{{ section.id }}-{{ featured_media.id }}"
							>
								<div class="product-single__media product-single__media-image" id="Slide-Thumbnails-{{ section.id }}-{{ featured_media.id }}" style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;">
									{%- render 'responsive-image', image: featured_media.preview_image, sizes: sizes -%}
								</div>
							</div>
						{%- endif -%}
			        {%- for media in product.media -%}
							  {%- liquid
                  if media.media_type == 'image'
                    assign image_index = image_index | default: 0 | plus: 1
                  endif
                  if image_index == 0
                    assign first_image = media.preview_image
                  endif

                  
                  assign image_set = false
                  assign image_set_group = ''
                  if media.alt contains '#'
                    assign image_set_full = media.alt | split: '#' | last
                    if image_set_full contains '_'
                      assign image_set = true
                      assign image_set_group = image_set_full | split: '_' | first
                    endif
                  endif

                  assign alt = media.preview_image.alt | split: '#' | first
                -%}
			          <div
									id="Slide-{{ section.id }}-{{ media.id }}"
									class="product-quick-images__slide product-images__slide--{{ media.media_type }}{% if product.selected_or_first_available_variant.featured_media.id == media.id %} is-active{% endif %}{% if hide_variants and variant_images contains media.src %} product-images__slide-item--variant{% endif %}"
									data-media-id="{{ section.id }}-{{ media.id }}"
                  {% if image_set %}
                    data-set-name="{{ image_set_group }}"
                    data-group="{{ image_set_full }}"
                  {% endif %}
								>
									{%- case media.media_type -%}
										{% when 'image' %}
											{%- liquid
												if media_aspect_ratio == 'adapt'
													assign ratio = media.preview_image.aspect_ratio
												endif
											-%}
											<div class="product-single__media product-single__media-image" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}" style="max-width: {{ media.preview_image.width }}px; --padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;">
												{%- render 'responsive-image', image: media.preview_image, sizes: sizes -%}
											</div>
										{% when 'external_video' %}
											<div class="product-single__media product-single__media-external-video" data-provider="{{ media.host }}" data-media-id="{{ media.id }}" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}" style="--aspect-ratio: {{ media.aspect_ratio }}">
												{{ media | external_video_tag: loading: "lazy", loop: "0", muted: "1" }}
											</div>
										{% when 'video' %}
											<div class="product-single__media product-single__media-native-video" data-media-id="{{ media.id }}" style="--aspect-ratio: {{ media.aspect_ratio }}" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}">
												{{ media | video_tag: controls: true, loading: "lazy", image_size: '800x' }}
											</div>
										{% when 'model' %}
											<product-model class="product-single__media product-single__media-model" style="padding-top: 100%" data-media-id="{{ media.id }}" id="Slide-Thumbnails-{{ section.id }}-{{ media.id }}">
												<button id="Deferred-Poster-Modal-{{ media.id }}" class="product-single__media-model-button" type="button">
													{%- render 'svg-icons' with 'thb-icon-3d-model' -%}
												</button>
												{%- render 'responsive-image', image: media.preview_image, sizes: sizes -%}
												<template>
													{{ media | media_tag: image_size: "2048x", toggleable: true }}
												</template>
											</product-model>
											<button
											 class="button product__xr-button"
											 type="button"
											 data-shopify-xr
											 aria-label="{{ 'products.product.xr_button_label' | t }}"
											 data-shopify-model3d-id="{{ media.id }}"
											 data-shopify-xr-hidden
											 data-shopify-title="{{ product.title | escape }}"
											 >
											 <span>
												 {% render 'svg-icons' with 'thb-icon-3d-model' %}
												 {{ 'products.product.xr_button' | t }}
											 </span>
									 </button>
									{% endcase %}
			          </div>
			        {%- endfor -%}
			      </div>
				</div>
        {% render 'product-information', product: product, section: section, update_url: false, pickup: false %}
			</div>
		</div>
	</div>
</div>


{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_taxes_included",
      "default": true,
      "label": "Show tax and shipping information",
      "info": "Tax and shipping information will be displayed if [taxes are included in the price](https://help.shopify.com/en/manual/taxes/location#include-taxes-in-product-prices) or [shipping policy](https://help.shopify.com/en/manual/checkout-settings/refund-privacy-tos#add-or-generate-store-policies) is added"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "media_aspect_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "Hide unselected variants’ media",
      "info": "Media for the unselected variants will be hidden."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "style_body",
              "label": "Body"
            },
            {
              "value": "subheading",
              "label": "Subheading"
            },
            {
              "value": "style_vendor",
              "label": "Vendor"
            }
          ],
          "default": "style_vendor",
          "label": "Text Style"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "uppercase",
          "default": true,
          "label": "Make title uppercase"
        },
        {
          "type": "checkbox",
          "id": "show_products_rating",
          "default": true,
          "label": "Show product rating",
          "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/manual/online-store/themes/os20/themes-by-shopify/dawn/sections#featured-collection-show-product-rating)"
        }
      ]
    },
    {
      "type": "inventory_level",
      "name": "Inventory level",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "show_inventory_notice",
          "options": [
            {
              "value": "always",
              "label": "Always"
            },
            {
              "value": "low",
              "label": "Only when inventory low"
            }
          ],
          "default": "always",
          "label": "Show inventory notice"
        },
        {
          "type": "select",
          "id": "show_inventory_count",
          "options": [
            {
              "value": "never",
              "label": "Never"
            },
            {
              "value": "always",
              "label": "Always"
            },
            {
              "value": "low",
              "label": "Only when inventory low"
            }
          ],
          "default": "always",
          "label": "Show count in inventory notice"
        },
        {
          "type": "checkbox",
          "id": "inventory_notice_pulse",
          "default": true,
          "label": "Show pulse"
        },
        {
          "type": "checkbox",
          "id": "inventory_notice_bar",
          "default": true,
          "label": "Show progress bar"
        },
        {
          "type": "number",
          "id": "inventory_notice_threshold",
          "label": "Low inventory threshold",
          "default": 10,
          "info": "Set the product inventory quantity to alert customers when limited quantities are available. Insert a dynamic source to set different thresholds for multiple products."
        },
        {
          "type": "number",
          "id": "inventory_notice_base",
          "label": "Inventory base quantity",
          "default": 20,
          "info": "Enter the initial quantity of your product inventory for progress bar. Insert a dynamic source to set different base quantities for multiple products"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "button",
              "label": "Block"
            }
          ],
          "default": "button",
          "label": "Type"
        },
        {
          "type": "checkbox",
          "id": "color_picker",
          "default": true,
          "label": "Enable color swatches"
        },
        {
          "type": "select",
          "id": "color_picker_size",
          "label": "Color swatch size",
          "options": [
            {
              "value": "regular",
              "label": "Regular"
            },
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "xlarge",
              "label": "X-large"
            }
          ],
          "default": "regular"
        },
        {
					"type": "checkbox",
					"id": "color_picker_use_variants",
					"default": false,
					"label": "Use variant images for color swatches",
					"info": "Color swatches will use variant featured images if available."
				},
        {
          "type": "checkbox",
          "id": "variant_is_disabled",
          "default": true,
          "label": "Show availability in selectors",
          "info": "When an option is selected, unavailable variants will be crossed-out."
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "default": true,
          "label": "Show quantity selector"
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
		{
      "type": "collapsible_tab",
      "name": "Collapsible row",
      "settings": [
				{
					"type": "text",
					"id": "heading",
					"default": "Collapsible row",
					"info": "Include a heading that explains the content.",
					"label": "Heading"
				},
				{
					"type": "checkbox",
					"id": "open",
					"default": false,
					"label": "Open by default"
				},
        {
          "type": "richtext",
          "id": "content",
          "label": "Row content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Row content from page"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations. For product description, you can use {{ product.description }}"
        }
      ]
    },
		{
			"type": "image",
      "name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					 "type": "select",
					 "id": "position",
					 "label": "Position",
					 "options": [
						 { "value": "text-center", "label": "Center" },
						 { "value": "text-left", "label": "Left" },
						 { "value": "text-right", "label": "Right" }
					 ],
					 "default": "text-left"
				}
			]
		},
    {
      "type": "product_link",
      "name": "Product link",
      "settings": [
        {
          "type": "paragraph",
          "content": "Use this to direct users to product page"
        }
      ]
    },
    {
      "type": "custom_option",
      "name": "Line item property",
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties are used to collect customization information for an item added to the cart."
        },
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "default": "text",
          "options": [
            {
              "label": "Text",
              "value": "text"
            },
            {
              "label": "Textarea",
              "value": "textarea"
            },
            {
              "label": "Checkbox",
              "value": "checkbox"
            },
            {
              "label": "Multiple options",
              "value": "multiple"
            }
          ]
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Custom option"
        },
        {
          "type": "checkbox",
          "id": "text_required",
          "label": "Required",
          "info": "Only works with 'Add to cart' button",
          "default": false
        },
        {
          "type": "header",
          "content": "Text",
          "info": "Requires line item property type to be Text or Textarea."
        },
        {
          "type": "text",
          "id": "text_placeholder",
          "label": "Placeholder",
          "default": "Enter your text here"
        },
        {
          "type": "header",
          "content": "Checkbox",
          "info": "Requires line item property type to be Checkbox."
        },
        {
          "type": "text",
          "id": "checkbox_checked_value",
          "label": "Checked value",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "checkbox_unchecked_value",
          "label": "Unchecked value",
          "default": "No"
        },
        {
          "type": "header",
          "content": "Multiple options",
          "info": "Requires line item property type to be Multiple options."
        },
        {
          "type": "select",
          "id": "multiple_style",
          "label": "Style",
          "default": "dropdown",
          "options": [
            {
              "label": "Dropdown",
              "value": "dropdown"
            },
            {
              "label": "Radio",
              "value": "radio"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "multiple_options",
          "label": "Options",
          "default": "Option 1\nOption 2\nOption 3",
          "info": "One option on each line"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "settings": [
        {
          "type": "select",
          "id": "sku_style",
          "options": [
            {
              "value": "style_body",
              "label": "Body"
            },
            {
              "value": "subheading",
              "label": "Subheading"
            },
            {
              "value": "style_vendor",
              "label": "Vendor"
            }
          ],
          "default": "style_vendor",
          "label": "SKU style"
        }
      ]
    },
    {
      "type": "siblings",
      "name": "Siblings",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Siblings allow you to split colors into separate products. [Learn more](https://documentation.fuelthemes.net/kb/how-to-setup-product-siblings/)"
        },
        {
          "type": "text",
          "id": "siblings_collection",
          "label": "Product siblings collection handle",
          "info": "Use a metafield containing a collection handle for color siblings.  The collection should contain all color options as unique products."
        },
        {
          "type": "text",
          "id": "sibling_color",
          "label": "Product color metafield",
          "info": "Use a single line text metafield called 'theme.sibling_color' for product color."
        },
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Margin bottom",
          "default": 20
        }
      ]
    }
  ]
}
{% endschema %}
