{%- liquid
	assign color_bg = section.settings.color_bg
	assign color_text = section.settings.color_text
	assign color_border = section.settings.color_border
	assign color_input_border = section.settings.color_input_border
-%}
<div class="password-container" style="--color-bg: {{ color_bg }}; --color-body: {{ color_text }}; --color-body-rgb: {{ color_text.rgb | replace: ' ' , ',' }}; --color-accent: {{ color_text }}; --color-border: {{ color_border }}; --color-form-border: {{ color_input_border }};">
	<div class="password-header">
		<div class="row expanded">
			<div class="small-12 columns">
				{%- if section.settings.logo -%}
					<a class="logolink" href="{{ routes.root_url }}">
				    <img
				      src="{{ section.settings.logo | image_url }}"
				      class="password-logo"
				      alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
				      style="max-height: {{ section.settings.logo_max_height }}px"
				      width="{{ section.settings.logo_max_width }}"
				      height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
				      loading="lazy"
				    >
					</a>
			  {%- else -%}
					<a class="logolink text-logo" href="{{ routes.root_url }}">
						{{ shop.name }}
					</a>
			  {%- endif -%}
				{% if section.settings.login_link == true %}
				<a href="#password-page-login" class="password-login-link">{% render 'svg-icons' with 'lock' %} {{ 'sections.password.login_using' | t }}</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{% if section.settings.login_link == true %}
				<aside id="password-page-login" class="password-page-login">
		      <h2>{{ 'sections.password.enter_using' | t }}</h2>
		      {% form 'storefront_password' %}
						{% capture form_errors %}
							{% if form.errors %}
							<div class="form-notification error">
								{% render 'svg-icons' with 'thb-error' %} {{ form.errors | default_errors }}
							</div>
							{% endif %}
						{% endcapture %}
						<fieldset>
			        <input class="password_field" type="password" name="password" id="password" autofocus="" autocomplete="current-password" />
			        <button class="submit" type="submit">{% render 'svg-icons' with 'signup-submit' %}</button>
						</fieldset>
						{{ form_errors }}
		      {% endform %}
		      <p class="store-owner">{{ 'sections.password.are_you_the_store_owner' | t }} <a href="/admin" class="text-button">{{ 'sections.password.login_here' | t }}</a></p>
					<p class="cancel"><a href="#" class="text-button">{{ 'sections.password.cancel' | t }}</a></p>
				</aside>
			{% endif %}
			<div class="password-content">
				<h1>{{ 'sections.password.opening_soon' | t }}</h1>
				{% if shop.password_message and shop.password_message != blank %}
		      <p>{{ shop.password_message }}</p>
		    {% endif %}
				{% if section.settings.subscription_form == true %}
					<div class="signup-container">
						{% form 'customer', class: 'signup-form' %}
							{% capture form_errors %}
								{% if form.errors %}
								<div class="form-notification error">
									{% render 'svg-icons' with 'thb-error' %} {{ form.errors | default_errors }}
								</div>
								{% endif %}
							{% endcapture %}
							<fieldset>
								<input id="contact_tags" name="contact[tags]" type="hidden" value="prospect,newsletter" />
								<div class="field">
									<input
										placeholder="{{ 'newsletter.label' | t }}"
										type="email"
										id="contact_email--{{ section.id }}"
										name="contact[email]"
										autocorrect="off"
										autocapitalize="off"
										autocomplete="email"
										pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
										title="xxx@xxx.xxx"
										{% if form.errors %}
											autofocus
											aria-invalid="true"
											aria-describedby="contact_email"
										{% elsif form.posted_successfully? %}
											aria-describedby="contact_email"
										{% endif %}
										required
									/>
									<label class="field__label" for="contact_email--{{ section.id }}">
						        {{ 'newsletter.label' | t }}
						      </label>
									<button class="widget_subscribe_btn submit" type="submit" aria-label="{{ 'sections.signup.enter_your_email' | t }}">{% render 'svg-icons' with 'signup-submit' %}</button>
								</div>
							</fieldset>
						{% endform %}
					</div>
					{{ form_errors }}
				{% endif %}
				{%- if section.settings.social_links -%}
				{% render 'social-links' %}
				{%- endif -%}
				<p class="shopify-copyright">{{ powered_by_link }}</p>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Password page",
    "settings": [
			{
				"type": "image_picker",
				"id": "logo",
				"label": "Logo image",
				"info": "200 x 80px .png recommended"
			},
			{
				"type": "range",
				"id": "logo_max_height",
				"min": 20,
				"max": 120,
				"step": 1,
				"default": 30,
				"unit": "px",
				"label": "Custom logo height"
			},
			{
				"type": "header",
				"content": "Content"
			},
			{
				"type": "paragraph",
				"content": "Customize your message in the 'Preferences' section of your Online Store. [Learn more](https://help.shopify.com/en/manual/online-store/themes/password-page#add-password-protection-to-your-online-store)"
			},
      {
         "type": "checkbox",
         "id": "subscription_form",
         "default": true,
         "label": "Display signup form",
				 "info": "Each email subscription creates a customer account. [Learn more](https://help.shopify.com/en/manual/customers)"
      },
			{
         "type": "checkbox",
         "id": "social_links",
         "default": true,
         "label": "Display social links"
      },
      {
         "type": "checkbox",
         "id": "login_link",
         "default": true,
         "label": "Display login link"
      },
			{
        "type": "header",
        "content": "General"
      },
			{
        "type": "color",
        "id": "color_bg",
        "label": "Background",
        "default": "transparent"
      },
			{
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#151515"
      },
      {
        "type": "color",
        "id": "color_border",
        "label": "Lines and borders",
        "default": "#E2E2E2"
      },
      {
        "type": "color",
        "id": "color_input_border",
        "label": "Input borders",
        "default": "#dedede"
      }
    ]
  }

{% endschema %}
