{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
{%- liquid
	assign image = section.settings.image
	assign image_mobile = section.settings.image_mobile
	assign section_width = section.settings.section_width
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	unless image_mobile
		assign image_mobile = image
	endunless
-%}
<shop-the-look class="shop-the-look section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
	<div class="row {{ section_width }}">
		<div class="small-12 columns">
			<figure class="shop-the-look--area shop-the-look--mobile">
				{%- if image_mobile -%}
					{% assign small_height = image_mobile.src.height | times: '750' | divided_by: image_mobile.src.width %}
					{% assign master_width = image_mobile.src.width | append: 'x' | append: image_mobile.src.height %}
					{% assign sizes = '750x' | append: small_height | append: ',' | append: master_width %}
					{% render 'responsive-image', image: image_mobile, sizes: sizes %}
				{%- else -%}
					<div class="thb-placeholder">
						{{ 'collection-1' | placeholder_svg_tag }}
					</div>
				{%- endif -%}
        {% for block in section.blocks %}
					{%- assign hotspot_product = all_products[block.settings.product_handle] -%}
          <quick-view class="thb-hotspot pin-white" style="left: {{- block.settings.x_position_mobile | append: '%' -}}; top: {{- block.settings.y_position_mobile | append: '%' -}};" data-product-handle="{{ hotspot_product.handle }}">
            <div class="thb-hotspot-content thb-pulsate">
							{%- unless hotspot_product == empty -%}
								<div class="loading-overlay">
									{% render 'svg-icons' with 'thb-loading' %}
								</div>
							{%- endunless -%}
						</div>
          </quick-view>
        {% endfor %}
			</figure>
			<figure class="shop-the-look--area shop-the-look--desktop">
				{%- if image -%}
					{% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
					{% render 'responsive-image', image: image, sizes: master_width %}
				{%- else -%}
					<div class="thb-placeholder">
						{{ 'lifestyle-1' | placeholder_svg_tag }}
					</div>
				{%- endif -%}
        {% for block in section.blocks %}
					{%- assign hotspot_product = all_products[block.settings.product_handle] -%}
          <quick-view class="thb-hotspot pin-white" style="left: {{- block.settings.x_position | append: '%' -}}; top: {{- block.settings.y_position | append: '%' -}};" data-product-handle="{{ hotspot_product.handle }}" {{ block.shopify_attributes }}>
            <div class="thb-hotspot-content thb-pulsate">
							{%- unless hotspot_product == empty -%}
							<div class="loading-overlay">
								{% render 'svg-icons' with 'thb-loading' %}
							</div>
							<div class="thb-hotspot-arrow"></div>
							<div class="thb-hotspot-bubble">
								{% if hotspot_product.featured_image %}
									<a href="{{ hotspot_product.url }}" title="{{ hotspot_product.title | escape }}" class="thb-hotspot-product-image">
										{%- render 'responsive-image', image: hotspot_product.featured_image, sizes: '150x0' -%}
									</a>
								{% endif %}
								<div class="thb-hotspot-product-content">
									<div class="thb-hotspot-product-title">{{ hotspot_product.title }}</div>
									{% render 'product-price', product: hotspot_product %}
									<a href="{{ hotspot_product.url }}" title="{{ hotspot_product.title | escape }}" class="text-button">{{ 'sections.shop_the_look.view_product' | t }}</a>
								</div>
							</div>
							{%- endunless -%}
						</div>
          </quick-view>
        {% endfor %}
			</figure>
		</div>
	</div>
</shop-the-look>
{% schema %}
  {
    "name": "Shop the look",
    "settings": [
      {
        "type": "paragraph",
				"content": "Learn more about how to set up the [shop the look section](https://documentation.fuelthemes.net/kb/how-to-set-up-shop-the-look-section-in-reformation/)"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1680 x 700 px .jpg recommended."
      },
			{
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile image",
        "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
      },
			{
				"type": "select",
				"id": "section_width",
				"options": [
					{
						"value": "grid",
						"label": "Grid"
					},
					{
						"value": "full-width-row",
						"label": "Full width"
					},
					{
						"value": "full-width-row-full",
						"label": "Full width, no spacing"
					}
				],
				"default": "grid",
				"label": "Section width"
			},
			{
        "type": "header",
        "content": "Spacing"
      },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product_handle",
            "label": "Product"
          },
					{
						"type": "header",
						"content": "Position"
					},
					{
						"type": "range",
						"id": "x_position",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"label": "Horizontal",
						"default": 20,
						"info": "Horizontal position of the hot spot"
					},
					{
						"type": "range",
						"id": "y_position",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"label": "Vertical",
						"default": 20,
						"info": "Vertical position of the hot spot"
					},
					{
						"type": "header",
						"content": "Mobile position"
					},
					{
						"type": "range",
						"id": "x_position_mobile",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"label": "Horizontal",
						"default": 20,
						"info": "Horizontal position of the hot spot on mobile screens"
					},
					{
						"type": "range",
						"id": "y_position_mobile",
						"min": 0,
						"max": 100,
						"step": 1,
						"unit": "%",
						"label": "Vertical",
						"default": 20,
						"info": "Vertical position of the hot spot on mobile screens"
					}
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop the look",
				"blocks": [
					{
						"type": "product"
					}
				]
      }
    ]
  }
{% endschema %}
